.App {
  width: 1728px;
}

.durbin{
  position: absolute;
  width: 252px;
  height: 104px;
  left: 128px;
  top: 40px;
}

.products{
  position: absolute;
width: 106px;
height: 36px;
left: 630px;
top: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
color: #1DD9B3;
}
.clients{
  position: absolute;
width: 81px;
height: 36px;
left: 824px;
top: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;

color: #1DD9B3;
}

.career{
  position: absolute;
width: 100px;
height: 36px;
left: 1136px;
top: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;

color: #1DD9B3;

}
.partner{
  position: absolute;
width: 92px;
height: 36px;
left: 994px;
top: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;

color: #1DD9B3;
}
.about{
  position: absolute;
width: 88px;
height: 36px;
left: 1286px;
top: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;

color: #1DD9B3;
}
.signup{
  position: absolute;
width: 94px;
height: 36px;
left: 1470px;
top: 79px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;

color: #1DD9B3;



}

.rec{
  box-sizing: border-box;

  position: absolute;
  width: 186px;
  height: 53px;
  left: 1424px;
  right: 118px;
  top: 92px;
  margin-right: 30px !important;
  
  background: #FFFFFF;
  border: 1px solid #1DD9B3;
}